//  Align Utilities




//  Dependencies:
//    Settings.Default
//    Settings.Breakpoint




// Options

$iota-align                     : true;
$iota-align--res                : false !default;
$iota-align-top-namespace       : 'align-top' !default;
$iota-align-bottom-namespace    : 'align-bottom' !default;
$iota-align-middle-namespace    : 'align-middle' !default;
$iota-align-baseline-namespace  : 'align-baseline' !default;




.#{$iota-utility-namespace}#{$iota-align-top-namespace} {
  vertical-align: top !important;
}

.#{$iota-utility-namespace}#{$iota-align-bottom-namespace} {
  vertical-align: bottom !important;
}

.#{$iota-utility-namespace}#{$iota-align-middle-namespace} {
  vertical-align: middle !important;
}

.#{$iota-utility-namespace}#{$iota-align-baseline-namespace} {
  vertical-align: baseline !important;
}




// Responsive Align Utilities

@if ($iota-align--res == true) {

  @each $name, $size in $iota-breakpoint-sizes {

    @media #{$size} {
    
      .#{$iota-utility-namespace}#{$iota-align-top-namespace}\@#{$name} {
        vertical-align: top !important;
      }

      .#{$iota-utility-namespace}#{$iota-align-bottom-namespace}\@#{$name} {
        vertical-align: bottom !important;
      }

      .#{$iota-utility-namespace}#{$iota-align-middle-namespace}\@#{$name} {
        vertical-align: middle !important;
      }

      .#{$iota-utility-namespace}#{$iota-align-baseline-namespace}\@#{$name} {
        vertical-align: baseline !important;
      }

    }

  }

}
